{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
          <h2 class="account-heading">Username : {{ user.username }}</h2>
          <p class="text-secondary">Email: {{ user.email }}</p>
          <a href="{% url 'logout' %}">Log out </a>
      </div>
      <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Profile information </legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
          <button type="btn btn-outline-info" name="button" type="submit">Update</button>
        </div>
      </form>
    </div>
{% endblock content%}
