#logo{
  max-width: 200px;
}

#background-body{
  background-position: center 0;
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://previews.123rf.com/images/svetlanaborovkova/svetlanaborovkova1808/svetlanaborovkova180800383/112004661-people-working-together-business-teamwork-team-building-success-plans-and-goals-vector-background-fl.jpg');
}

header{
  background: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
}
.jumbotron{
  margin-top: 40px;
  background-color: white;
  opacity: 80%;
}


h1 {
  font-family: 'Spartan', sans-serif;
  text-align: center;
  float: none;
}
h2{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  float: none;
}
h3{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  float: none;
}
p{
  font-family: 'Spartan', sans-serif;
  float: none;
}
#welcome_message{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  padding-top: 40px;
}
.form_block{
  width:500px;
  display: block;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer{
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #5D91C6;
  display: block;
  text-align: left;
}
.error{
  margin-bottom: 0;
}

form{
  max-width: 600px;
  padding: 15px;
  margin:0 auto;
}

@media (min-width: 992px){
  #formdiv{
    width: 70% ;
  }
}
