#logo{
  max-width: 200px;
}

#background-body{
  background-position: center 0;
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://image.freepik.com/free-vector/business-people-teamwork-colleague-character-animation-scene-people-seminar-community_40876-1145.jpg');
}

header{
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form_block{
  width:500px;
  display: block;
}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width: 992px){
  #formdiv{
    width: 70% ;
  }
}
