{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-flud">
  <div class="welcome_message">
      <h2 id='welcome_message'>Welcome to teamwork</h2>
  </div>
  <div class="jumbotron">
    <h3 class="display-4">Join us! Make team work easier</h3>
    <p class="lead">In this application you can plan your projet with your coworkers, Start planify your projet now !</p>
    <hr class="my-4">
    <h4>Need an account ? Sign up here </h4>
    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Sign up</a>
    <p>You are a member of projet? Sign in here </p>
    <a class="btn btn-sm" href="{% url 'login' %}" role="button">Sign in</a>
    <p>You are an administration ? Log in here</p>
    <a class="btn btn-sm" href="{% url 'administration' %}" role="button">Log in</a>
  </div>
</div>
{% endblock content %}
