{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'navbar.html' %}
  <div class="content-section">
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form class="" method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4"> Welcome </legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="btn btn-outline-info" name="button" type="submit">Sign up</button>
      </div>
    </form>
    <div class="border-top pt-3">
           <small class="text-muted">
               Already Have An Account? <a class="ml-2" href="#">Sign In</a>
           </small>
       </div>
  </div>

{% endblock %}
