{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'admin_navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-12">
            </div>
            <div class="col-sm-6 col-12">
                <div>
                    <h3 class="border-bottom color-title mt-5 mb-3">Creat a task for your projet</h3>
                </div>
                <form method="post">
                {{ formset.non_form_errors }}
                {% csrf_token %}
                {{ form|crispy }}
                <div id="button_connexion">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
            <div class="col-sm-3 col-12">
            </div>
        </div>
    </div>
{% endblock %}
