{% extends "base.html" %}
{% block content %}
  {% include 'admin_navbar.html' %}
  <div class="container">
    <div class="jumbotron">
    <h1>The processing for your group </h1>
      {% for prs in processinglist %}
        {% for name in taskname %}
          {% if name.id == prs.id_user_task_id %}
          <h2> {{ name.name_task }} : </h2>
          {% endif %}
        {% endfor %}
        <h3>Summary of task</h3>
          <p> {{ prs.summary }} </p>
          <h3> The status of the task</h3>
          {% if prs.is_finished %}
          <h4> This task has been finished</h4>
          {% else %}
          <h4> This task is not finished</h4>
          {% endif %}
      {% endfor %}
  </div>
  </div>

{% endblock content %}
